<div id="<%= dom_id component %>">
  <p>
    <strong>Name:</strong>
    <%= component.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= component.role %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= component.level %>
  </p>

  <p>
    <strong>Dance:</strong>
    <%= component.dance %>
  </p>

  <p>
    <strong>Footwork:</strong>
    <%= component.footwork %>
  </p>

  <p>
    <strong>Sfoot:</strong>
    <%= component.sfoot %>
  </p>

  <p>
    <strong>Efoot:</strong>
    <%= component.efoot %>
  </p>

  <p>
    <strong>Timing:</strong>
    <%= component.timing %>
  </p>

  <p>
    <strong>Partnering:</strong>
    <%= component.partnering %>
  </p>

</div>
