
  <div  id="<%= dom_id component %>" class="ui fluid raised card">
    <div class="content">
      <div class="right floated"><%= component.role + "'s Role" %></div>
      <div class="header"><%= link_to component.name, component %></div>
      <div class="meta"><%= "#{component.level} #{component.dance}" %></div>
      <div class="description">
      
        <p>
          <strong>Timing:</strong>
          <%= component.timing %>
        </p>
      
        <p>
          <strong>Partnering:</strong>
          <%= component.partnering %>
        </p>
      </div>
    </div>
  </div>
