
  <div  id="<%= dom_id component %>" class="ui fluid raised card">
    <div class="content">
      <div class="right floated"><%= component.role + "'s Role" %></div>
      <div class="header"><%= link_to component.name, component %></div>
      <div class="meta"><%= "#{component.level} #{component.dance}" %></div>
      <div class="description">
        
        <table class="ui table">
          <thead>
            <th>Count</th>
            <th>Foot</th>
            <th>Foot Position</th>
            <th>Footwork</th>
          </thead>
          <tbody>
            <% component.steps.each do |s| %>
            <tr>
              <td><%= s.count%></td>
              <td><%= s.foot %></td>
              <td><%= s.foot_position.name %></td>
              <td><%= s.footwork.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
