
  <div  id="<%= dom_id component %>" class="ui fluid raised card">
    <div class="content">
      <div class="right floated"><%= component.role + "'s Role" %></div>
      <div class="header"><%= component.name %></div>
      <div class="meta center aligned"><%= "#{component.level} #{component.dance}" %></div>
      <div class="description">
        <p>
          <strong>Footwork:</strong>
          <%= component.footwork %>
        </p>
      
        <p>
          <strong>Timing:</strong>
          <%= component.timing %>
        </p>
      
        <p>
          <strong>Partnering:</strong>
          <%= component.partnering %>
        </p>
      </div>
    </div>
    <div class="extra content">
      <%= button_to semantic_icon("folder open"), component_path(component), { method: "get"} %>
    </div>
  </div>
