<%= form_with(model: @component, local: true, class: "ui form")  do |form| %>
  <% if component.errors.any? %>
    <div class="ui warning message">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
        <% component.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div clas="inline fields">
    <label for="role">Role</label>
    <div class="field">
      <div class="ui radio checkbox">
        <%= form.radio_button :role, "Leader" %>
        <%= form.label :leader, "Leader" %>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= form.radio_button :role, "Follower" %>
        <%= form.label :leader, "Follower" %>
      </div>
    </div>

  </div>

  <div class="field">
    <%= form.label :level, style: "display: block" %>
    <%= form.text_field :level %>
  </div>


<div data-controller="steps" data-step-target="output"></div>

  <div class="field">
    <%= form.label :dance, style: "display: block" %>
      <div class="ui selection dropdown">
          <input type="hidden" name="component[dance]" id="component_dance">
          <i class="dropdown icon"></i>
          <div class="default text">Dance</div>
          <div class="menu">
            <% ["Salsa", "Bachata", "West Coast Swing", "Kizomba"].each do |dance| %>
              <div class="item" data-value="<%= dance %>"><%= dance %></div>
            <% end %>
          </div>
      </div>
  </div>

  <h3>Steps</h3>
  <table class="ui table">
    <thead>
      <th>Count</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @component.steps.each do |s| %>
      <tr>
        <td><%= s.count%></td>
        <td><%= s.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= form.label :steps %>
  <div class="ui four cards">
  <%= form.fields_for :steps do |step_form| %>
    <div class="card">
      <div class="content">
        <div class="header"></div>
        <div class="description">
          <%= step_form.label :count %>
          <%= step_form.text_field :count %>
          <%= step_form.label :foot %>
          <%= step_form.text_field :foot %>
          <%= step_form.label :foot_position %>
          <%= form.collection_select :foot_position_id, FootPosition.all, :id, :name %>
          <%= step_form.label :footwork %>
          <%= form.collection_select :footwork_id, Footwork.all, :id, :name %>
        </div>
      </div>
      <div class="ui bottom attached button">
        <%= step_form.check_box :_destroy %>
        <%= step_form.label :_destroy, "Remove" %>
      </div>
    </div>  
    <% end %>  
  </div>
 

  <div class="field">
    <%= form.submit class: "ui button", style: "margin-top:1rem;" %>
  </div>
<% end %>
