<%= form_with(model: @component, local: true, class: "ui form")  do |form| %>
  <% if component.errors.any? %>
    <div class="ui warning message">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
        <% component.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div clas="inline fields">
    <label for="role">Role</label>
    <div class="field">
      <div class="ui radio checkbox">
        <%= form.radio_button :role, "Leader" %>
        <%= form.label :leader, "Leader" %>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <%= form.radio_button :role, "Follower" %>
        <%= form.label :leader, "Follower" %>
      </div>
    </div>

  </div>

  <div class="field">
    <%= form.label :level, style: "display: block" %>
    <%= form.text_field :level %>
  </div>

  <div class="field">
    <%= form.label :dance, style: "display: block" %>
      <div class="ui selection dropdown">
          <input type="hidden" name="component[dance]" id="component_dance">
          <i class="dropdown icon"></i>
          <div class="default text">Dance</div>
          <div class="menu">
            <% ["Salsa", "Bachata", "West Coast Swing", "Kizomba"].each do |dance| %>
              <div class="item" data-value="<%= dance %>"><%= dance %></div>
            <% end %>
          </div>
      </div>
  </div>

  <h3>Steps</h3>
  <table class="ui table">
    <thead>
      <th>Count</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @component.steps.each do |s| %>
      <tr>
        <td><%= s.count%></td>
        <td><%= s.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<!-- TODO: Add new step to component somehow. -->
    <div>
      <div class="ui four cards">
      <%= form.fields_for :steps do |step_form| %>
        <%= render 'step_fields', f: step_form %>
      <% end %>
      </div>
    </div>
    <div class="ui four cards">
      <%= form.fields_for :steps, Step.new do |form| %>
      <%= render 'step_fields', f: form %>
    <% end %>
    </div>
  <div class="field">
    <%= form.submit class: "ui button", style: "margin-top:1rem;" %>
  </div>
<% end %>
