<%= form_with(model: component, html: {class: "ui form"})  do |form| %>
  <% if component.errors.any? %>
    <div class="ui warning message">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
        <% component.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.text_field :level %>
  </div>

  <div>
    <%= form.label :dance, style: "display: block" %>
      <div class="ui selection dropdown">
          <input type="hidden" name="component[dance]" id="component_dance">
          <i class="dropdown icon"></i>
          <div class="default text">Dance</div>
          <div class="menu">
              <div class="item" data-value="Salsa">Salsa</div>
              <div class="item" data-value="WestCoastSwing">West Coast Swing</div>
          </div>
      </div>
  </div>

  <div>
    <%= form.label :footwork, style: "display: block" %>
    <%= form.text_area :footwork %>
  </div>

  <div>
    <%= form.label :timing, style: "display: block" %>
    <%= form.text_field :timing %>
  </div>

  <div>
    <%= form.label :partnering, style: "display: block" %>
    <%= form.text_field :partnering %>
  </div>

  <div>
    <%= form.submit class: "ui button", style: "margin-top:1rem;" %>
  </div>
<% end %>
