<%= render "shared/message" %>

<h1>Footworks</h1>

<div id="footworks">
<table class="ui table" data-controller="active-table">
  <thead>
    <th>
      Name
    </th>
    <th>
    </th>
    <th>
    </th>
  </thead>
<tbody>
  <% @footworks.each do |f| %>
  <tr data-action="mouseover->active-table#active mouseout->active-table#inactive">
    <td><%= f.name %></td>
    <td><%= link_to "Edit", footwork_path(f), class: "ui button" %></td>
    <td><%= button_to "Delete", footwork_path(f), method: :delete, class: "ui button" %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

<%= link_to "New footwork", new_footwork_path, class: "ui button", style: "margin-top:1rem;" %>
