<p style="color: green"><%= notice %></p>

<%= render @footwork %>

<div>
  <%= link_to "Edit this footwork", edit_footwork_path(@footwork) %> |
  <%= link_to "Back to footworks", footworks_path %>

  <%= button_to "Destroy this footwork", @footwork, method: :delete %>
</div>
