<div id="<%= dom_id figure %>">
  <p>
    <strong>Level:</strong>
    <%= figure.level %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= figure.name %>
  </p>

  <p>
    <strong>Manref:</strong>
    <%= figure.manref %>
  </p>

  <p>
    <strong>Dance:</strong>
    <%= figure.dance %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= figure.style %>
  </p>

</div>
