<% if notice %>
<div class="ui floating message">
  <div class="header">
    Notice
  </div>
  <p><%= notice %></p>
</div>
<% else %>
<% end %>


<h1>Figures</h1>

<div id="figures">



  <% @figures.each do |figure| %>
    
<div class="ui card">
  <div class="content">
    <div class="header"><%= figure.figure_name %></div>
    <div class="meta">Bronze 1 - Leader's Role</div>
    <div class="description">
      <p><%= figure.figure_description %></p>
    </div>
  </div>
  <div class="extra content">
    <i class="external square alternate icon"></i>
    <%= link_to "Show this figure", figure %>
  </div>
</div>
    
  <% end %>
</div>

<%= link_to "New figure", new_figure_path %>
