<%= render "shared/message" %>

<h1>Foot Positions</h1>

<div id="foot_positions">
  <table class="ui table" data-controller="active-table">
    <thead>
      <th>
        Name
      </th>
      <th>
      </th>
      <th>
      </th>
    </thead>
  <tbody>
    <% @foot_positions.each do |f| %>
    <tr id="<%= f.id %>" data-model="foot_positions" data-action="click->active-table#show mouseover->active-table#active mouseout->active-table#inactive">
      <td><%= f.name %></td>
      <td><%= link_to "Edit", foot_position_path(f), class: "ui button" %></td>
      <td><%= button_to "Delete", foot_position_path(f), method: :delete, class: "ui button" %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  </div>

<%= link_to "New foot position", new_foot_position_path, class: "ui button", style: "margin-top:1rem;" %>
