<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this foot_position from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lesson_time, style: "display: block" %>
    <%= form.datetime_select :lesson_time %>
  </div>

  <div class="field">
    <%= form.label :plan %>
    <%= form.text_area :plan %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  
  <div class="field">
    <%= form.label :student_id %>
    <%= form.collection_select(:student_id, @students, :id, :first_name, prompt: 'Please select.') %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.collection_select(:teacher_id, @teachers, :id, :first_name, prompt: 'Please select.') %>
    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
