<%= render "shared/message" %>

<h1>Lessons</h1>
<!-- 
<table class="ui table" data-controller="active-table">
    <thead>
        <th>Lesson Time</th>
        <th>Plan</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <% @lessons.each do |l| %>
        <tr id="<%= l.id %>" data-model="<%= l.model_name.to_s.downcase.pluralize %>" data-action="click->active-table#show mouseover->active-table#active mouseout->active-table#inactive">
            <td><%= l.lesson_time.to_fs(:long_ordinal) %></td>
            <td><%= l.plan %></td>
            <td><%= l.status %></td>
            <td><%= button_to "Delete", lesson_path(l), method: :delete, class: "ui button" %> </td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table> -->


<div class="ui four column grid">
    <div class="row">
        <% @teachers.each do |t| %>
        <div class="column">
            <div class="ui card">
                <div class="content">
                  <a class="header"><%= t.first_name + " " + t.last_name %></a>
                  <div class="meta">
                    <span class="date"><%= t.email %></span>
                  </div>
                  <div class="description">
                    <div class="ui relaxed divided list">
                        <div class="item sub header">Available</div>
                        <div class="item">1:00pm - 2:00pm</div>
                        <div class="item">3:00pm - 4:00pm</div>
                        <div class="item">4:00pm - 5:00pm</div>
                        <div class="item sub header">Booked</div>
                        <div class="item">10:00am - 11:00am</div>
                        <div class="item">11:00am - 12:00pm</div>
                    </div>
                  </div>
                </div>
                <div class="extra content">
                  <a>
                    <i class="user icon"></i>
                    5 Lessons
                  </a>
                </div>
              </div>
        </div>
        <% end %>
    </div>
</div>


<div class="ui card">
  <div class="content">
    <a class="header">Teacher One</a>
    <div class="meta">
      <span class="date">Teacher One Email</span>
    </div>
    <div class="description">
      <div class="ui relaxed divided list">
          <div class="item sub header">Available</div>
          <% @lessons.each do |l| %>
          <div class="item"><%= l.lesson_time.to_fs(:short) %> - <%= l.status %></div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      5 Lessons
    </a>
  </div>
</div>

<br>
<%= link_to "New Lesson", new_lesson_path, class: "ui button" %>