<%= form_with(model: step) do |form| %>
  <% if step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :count, style: "display: block" %>
    <%= form.text_field :count %>
  </div>

  <div>
    <%= form.label :foot, style: "display: block" %>
    <%= form.text_field :foot %>
  </div>

  <div>
    <%= form.label :foot_position_id, style: "display: block" %>
    <%= form.text_field :foot_position_id %>
  </div>

  <div>
    <%= form.label :footwork_id, style: "display: block" %>
    <%= form.text_field :footwork_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
