<div id="<%= dom_id step %>">
  
  <table class="ui table">
    <thead>
      <th>
        Count
      </th>
      <th>
        Foot
      </th>
      <th>
        Foot Position
      </th>
      <th>
        Footwork
      </th>
    </thead>
    <tbody>
      <tr>
        <td><%= step.count %></td>
        <td><%= step.foot %> Foot</td>
        <td><% if step.foot_position %><%= step.foot_position.name %><% end %></td>
        <td><% if step.footwork %><%= step.footwork.name %><% end %></td>
      </tr>
    </tbody>
  </table>

</div>
