<div id="<%= dom_id step %>">
  
  <table class="ui table">
    <thead>
      <th>Component</th>
      <th>
        Count
      </th>
      <th>
        Foot
      </th>
      <th>
        Foot Position
      </th>
      <th>
        Footwork
      </th>
    </thead>
    <tbody>
      <tr>
        <td><%= step.component.name %></td>
        <td><%= step.count %></td>
        <td><%= step.foot %></td>
        <td><%= step.foot_position %></td>
        <td><%= step.footwork %></td>
      </tr>
    </tbody>
  </table>

</div>
