<%= render "shared/message" %>

<h1 class="ui center aligned header">Components</h1>

<table class="ui table" data-controller="active-table">
<thead>
  <th>Name</th>
  <th>Dance</th>
  <th>Role</th>
  <th>Level</th>
  <th></th>
  <th></th>
  <!-- <th></th> -->
</thead>
<tbody>
  <% @components.each do |c| %>
  <tr id="<%= c.id %>" data-model="<%= @components.model_name.to_s.downcase.pluralize %>" data-action="mouseover->active-table#active mouseout->active-table#inactive click->active-table#show" >
    <td><%= c.name %></td>
    <td><%= c.dance %></td>
    <td><%= c.role %></td>
    <td><%= c.level %></td> 
    <td><%= link_to "Edit", component_path(c), class: "ui button" %></td>
    <td><%= button_to 'Delete', component_path(c), method: :delete, class: "ui button" %></td>
  </tr>
  <% end %>
</tbody>
</table>

<%= button_to "New component", new_component_path, method: :get, class: "ui button", style: "margin-top:1rem;" %>
