<!DOCTYPE html>
<html>
  <head>
    <title>AHBD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="ui container" style="padding-top:2rem;">

    <div class="ui toolbar">
      <!-- <%= link_to "Steps", steps_path, class:"ui button" %> -->
      <!-- <%= link_to "Footwork", footworks_path, class:"ui button" %>
      <%= link_to "Foot Positions", foot_positions_path, class:"ui button" %>
      <%= link_to "Components", components_path, class:"ui button" %> -->
      <%= link_to "Contacts", contacts_path, class: "ui button" %>
      <%= link_to "Lessons", lessons_path, class: "ui button" %>
      <%= link_to "Figures", figures_path, class: "ui button" %>
      <%= link_to "Calendar", calendar_path, class: "ui button" %>
    </div>

    <%= yield %>
  </body>
</html>
